[build]
  functions = "netlify/functions"
  publish = "."
  environment = { SECRETS_SCAN_OMIT_KEYS = "EMAIL_HOST,EMAIL_PORT" }

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true
